.footer {
    padding: 60px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
        &-logo {
            margin-right: 35px;
        }
    }
    &__nav {
        display: flex;
    }
    &__link {
        font-size: 18px;
        line-height: 21px;
        color: #595959;
        margin-right: 15px;
        cursor: pointer;
        text-decoration: none;
    }
    &__link:last-child{
        margin-right: 0;
    }
    &__socials {
        display: flex;
        align-items: center;
        &-img {
            margin-left: 21px;
            cursor: pointer;
        }
        &-img:first-child {
            margin-left: 0;
        }
    }
}
