.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    &-dialog {
        padding: 40px 45px;
        max-width: 780px;
        width: 95%;
        min-height: 552px;
        background: #ffffff;
        border-radius: 5px;
        margin: auto;
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__title {
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
        }
        &__close {
            font-size: 36px;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
        }
    }
    &-body {
        margin-bottom: 52px;
        &-food {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 8px;
            border-bottom: 1px solid silver;
            margin-bottom: 15px;
            &__name {
                font-size: 18px;
                line-height: 32px;
                color: #000000;
            }
            &__price {
                font-weight: bold;
                font-size: 20px;
                line-height: 32px;
                color: #000000;
                margin-left: auto;
            }
            &-counter {
                margin-left: 47px;
                &__btn {
                    background: #ffffff;
                    border: 1px solid #40a9ff;
                    border-radius: 2px;
                    padding: 5px 16px;
                    color: #40a9ff;
                    font-size: 14px;
                    line-height: 22px;
                }
                &__number {
                    font-size: 16px;
                    line-height: 24px;
                    margin-right: 13px;
                    margin-left: 13px;
                }
            }
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__totalprice {
            padding: 15px 20px;
            background: #262626;
            border-radius: 5px;
            color: #ffffff;
        }
        &-buttons {
            &__order {
                padding: 8px 16px;
                border: none;
                border-radius: 2px;
                background: #1890ff;
                color: #ffffff;
                outline: none;
                font-size: 16px;
                line-height: 24px;
            }
            &__cancel {
                margin-left: 18px;
                padding: 8px 16px;
                background: #ffffff;
                border: 1px solid #d9d9d9;
                box-sizing: border-box;
                border-radius: 2px;
                font-size: 16px;
                line-height: 24px;
                color: #595959;
                outline: none;
            }
        }
    }
}
.is-open {
    display: flex;
}