.logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    &-img {
         width: 32px;
         height: 32px;
         margin-right: 11px;

    }
    &-name {
         font-family: "Roboto";
         font-size: 15px;
         line-height: 18px;
         color: #000000;
    }
}
.logo:visited {
     color: #000000;
}
