@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
    .hero {
        &__container {
            background-position: center right -180px;
            background-size: 580px;
        }
        &__offer {
            padding: 45px 50px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .hero {
        &__container {
            background-position: center right -130px;
            background-size: 380px;
        }
        &__offer {
            padding: 35px 35px;
            &-title {
                font-size: 28px;
                line-height: 1.4;
            }
            &-text {
                font-size: 20px;
                max-width: 450px;
            }
        }
    }
    .restaurants {
        &__card {
            flex-basis: 49%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        &__container {
            flex-wrap: wrap;
        }
        &__input {
            order: 5;
            flex: 1;
            margin-top: 20px;
        }
    }
    .hero {
        &__container {
            background-position: center right -100px;
            background-size: 300px;
        }
        &__offer {
            padding: 25px 30px;
            &-title {
                font-size: 28px;
                line-height: 1.4;
            }
            &-text {
                font-size: 18px;
                max-width: 320px;
            }
        }
    }

    .restaurants {
        &__card {
            &-info {
                &-title {
                    &-text {
                        font-size: 20px;
                    }
                }
                &-description {
                    flex-wrap: wrap;
                    &-rating {
                        width: 100%;
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    }
    .footer {
        &__left {
            &-logo {
                margin-right: 15px;
            }
        }
        &__link {
            font-size: 14px;
            margin-right: 8px;
        }
        &__socials {
            &-img {
                margin-left: 8px;
            }
        }
    }
}

@media (max-width: 580px) {
    .container {
        max-width: 90%;
    }
    .hero {
        &__container {
            background-image: none;
        }
    }

    .restaurants {
        &__heading {
            &-title {
                font-size: 24px;
            }
            &-input {
                flex: 0.8;
            }
        }
        &__card {
            flex-basis: 100%;
            &-info {
                &-title {
                    &-text {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__left {
            display: flex;
            flex-direction: column;
            &-logo {
                order: 1;
                margin-bottom: 40px;
                margin-right: 0;
            }
        }
        &__nav {
            order: 2;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__link {
            margin: 0 0 15px 0;
            font-size: 18px;
        }
        &__socials {
            &-img {
                margin-left: 50px;
            }
        }
    }
    .modal {
        &-dialog {
            padding: 20px 25px;
        }
        &-body {
            &-food {
                &-counter {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .restaurants {
        &__heading {
            flex-wrap: wrap;
            &-title {
                order: 0;
                margin-bottom: 10px;
            }
            &-input {
                order: 1;
                flex: 1;
            }
        }
    }
    .modal {
        &-dialog {
            padding: 15px 20px;
        }
        &-body {
            &-food {
                &__name {
                    font-size: 16px;
                }
                &__price {
                    font-size: 18px;
                }
            }
        }
        &-footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &__totalprice {
                padding: 20px 25px;
                margin-right: 14px;
                margin-bottom: 20px;
                font-size: 32px;
            }
            &-buttons {
                &__cancel {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 435px) {
    .modal {

        &-body {
            &-food {
                &__name {
                    font-size: 14px;
                }
                &__price {
                    font-size: 18px;
                    margin-left: auto;
                }
            &-counter {
                margin-left: 8px;
                &__btn {
                    padding: 3px 13px;
                }
                &__number {
                    margin: 0 5px;
                }
            }
            }
        }
    }
}

@media (max-width: 370px) {
    .authorization {
        &__login-btn {
            &-text {
                display: none;
            }
        }
        &__login-img {
            margin: 0;
            padding: 4px 0;
        }

        &__basket-btn {
            &-text {
                display: none;
            }
        }
        &__basket-img {
            margin: 0;
        }
    }
    .hero {
        &__offer {
            padding: 20px 20px;
            &-title {
                font-size: 22px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
    .modal {

        &-body {
            &-food {
                &__name {
                    font-size: 13px;
                }
                &__price {
                    font-size: 16px;
                    margin-left: auto;
                }
            &-counter {
                margin-left: 8px;
                &__btn {
                    padding: 2px 11px;
                }
                &__number {
                    margin: 0 3px;
                }
            }
            }
        }
    }
}

